@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

:root {
    --color-black: #111;
    --color-light-black: #888;
    --color-pink: #FBDFDB;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    margin-bottom: 40px;
}

/* ##### NAVIGATION #####*/
#navbar {
    display: flex;
    width: 940px;
    margin: 36px auto;
}

#navbar .hide {
    display: none;
}

.nav {
    margin-left: 122.4px;
}

.nav a {
    margin: 0 20px;
    color: var(--color-black);
}

.nav a:hover {
    border-bottom: 1px solid var(--color-black);
}

/* ##### BANNER #####*/
#banner {
    width: 940px;
    height: 366px;
    margin: 0 auto;
}

.banner-content {
    background: var(--color-pink);
    padding: 15px 60px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    max-width: 40%;
    line-height: 28px;
    font-weight: 400;
    color: var(--color-light-black);
}

.banner-text h2 {
    margin-bottom: 10px;
    font-size: 32px;
    color: var(--color-black);
}

.banner-text p {
    font-size: 18px;
}

.banner-chef img {
    width: 216px;
    height: 300px;
    margin-top: 65px;
}

/* ##### ACCESSES #####*/
#container {
    width: 940px;
    margin: 80px auto;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.accesses h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 30px;
}

.accesses img{
    margin-bottom: 20px;
    border-radius: 15px;
    width: 300px;
    height: 140px;
    cursor: pointer;
    transition: filter 200ms;
}

.card h4 {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-black);
    margin-bottom: 5px;
}

.card p {
    color: var(--color-light-black);
    font-size: 14px;
    font-weight: 100;
}

/* ##### ABOUT #####*/
#about h2 {
    margin-bottom: 20px;
    color: var(--color-black);
}

#about h3 {
    margin-bottom: 20px;
    color: var(--color-black);
}

#about p {
    margin-bottom: 30px;
    color: var(--color-light-black);
}

/* ##### REVENUES #####*/

.boss-recipes img{
    margin-bottom: 20px;
    border-radius: 15px;
    width: 300px;
    height: 140px;
    transition: filter 200ms;
    cursor: pointer;
}

.boss-recipes img:hover {
    filter: brightness(50%);
}

/* ##### MODAL #####*/
span {
    display: block;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: white;
    border-radius: 15px;
    width: 660px;
    height: 500px;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.modal img {
    margin: 20px auto;
    border-radius: 15px;
}

.modal h3 {
    font-size: 24px;
    color: var(--color-black);
    margin-bottom: 5px;
}

.modal span {
    color: var(--color-light-black);
}

.name-chef {
    font-size: 16px;
    margin-bottom: 70px;
}

.close-modal a {
    cursor: pointer;
    transition: color 200ms;
}

.close-modal a:hover {
    color: var(--color-black);
}

/* ##### FOOTER #####*/
footer {
    display: flex;
    background: #f1f1f1;
    width: 100%;
    height: 82px;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 14px;
    color: var(--color-light-black);
}

@media(max-width: 460px) {
    * {
        margin: 0 auto;
    }

    header {
        margin-bottom: 0;
    }
    
    /* ##### NAV ##### */
    #navbar {
        padding: 10px;
        margin-bottom: 15px;
        width: 100%;
    }

    .nav {
        margin-left: 60px;
    } 
    
    /* ##### BANNER ##### */
    #banner {
        display: inline;
    }

    .banner-content {
        padding: 35px 30px;
        border-radius: 0;
    }

    .banner-text {
        max-width: 100%;
    }

    .banner-chef {
        display: none;
    }

    /* ##### MAIN ##### */
    #container {
        margin: 15px auto;
        width: 100%;
    }

    /* ##### CARDS ##### */
    #cards {
       display: flex;
       flex-wrap: wrap;
    }

    .accesses h3 {
        padding: 0 29px;
    }
    
    .accesses img {
        margin-bottom: 8px;
    }

    .card h4 {
        font-size: 22px;
    }

    .card {
        font-size: 18px;
    }

    /* ##### MODAL ##### */
    .modal {
        width: 330px;
        height: 340px;
        margin: 40% 4%;
    }

    .modal img {
        width: 90%;
    }

    /* ##### ABOUT ##### */
    #about {
        padding: 0 16px;
    }
}

/* ##### SMARTPHONE LYING ##### */

@media(max-width: 660px) {
    * {
        margin: 0 auto;
    }

    header {
        margin-bottom: 0;
    }
    
    /* ##### NAV ##### */
    #navbar {
        padding: 10px;
        margin-bottom: 15px;
        width: 100%;
    }

    .nav {
        margin-left: 60px;
    } 
    
    /* ##### BANNER ##### */
    #banner {
        display: inline;
    }

    .banner-content {
        padding: 35px 30px;
        border-radius: 0;
    }

    .banner-text {
        max-width: 100%;
    }

    .banner-chef {
        display: none;
    }

    .name-chef {
        margin-bottom: 30px;
    }

    /* ##### MAIN ##### */
    #container {
        margin: 15px auto;
        width: 100%;
    }

    /* ##### CARDS ##### */
    #cards {
       display: flex;
       flex-wrap: wrap;
    }

    .accesses h3 {
        padding: 0 29px;
    }
    
    .accesses img {
        margin-bottom: 8px;
    }

    .card h4 {
        font-size: 22px;
    }

    .card {
        font-size: 18px;
    }

    /* ##### MODAL ##### */
    .modal {
        width: 430px;
        height: 340px;
        margin: 1% auto;
    }

    .modal img {
        width: 90%;
    }

    /* ##### ABOUT ##### */
    #about {
        padding: 0 16px;
    }
}